name: "Build, Test & Release"

on:
  push:
    branches:
      - "*"
    tags:
      - "v*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: "write"
    strategy:
      fail-fast: false
      matrix:
        ghidra:
          - "11.2"
          - "11.2.1"
          - "11.3"
          - "11.3.1"
          - "11.3.2"
          - "11.4"
          - "11.4.1"
          - "11.4.2"
          - "11.4.3"
          - "12.0"
          - "12.0.1"
          - "12.0.2"
          - "12.0.3"
    steps:
      -
        name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: true
      -
        name: "Setup JDK"
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      -
        name: "Setup Ghidra"
        uses: antoniovazquezblanco/setup-ghidra@v2.0.5
        with:
          version: ${{ matrix.ghidra }}
          auth_token: ${{ secrets.GITHUB_TOKEN }}
      -
        name: "Install standalone dependencies"
        run: gradle installStandaloneDeps
      -
        name: "Build extension"
        run: gradle buildExtension -Pstandalone
      -
        name: "Upload artifacts"
        uses: actions/upload-artifact@v6
        with:
          name: "extension (${{ matrix.ghidra }})"
          path: "dist/*"
          if-no-files-found: "error"
        if: ${{ !cancelled() }}
      -
        name: "Run tests"
        uses: coactions/setup-xvfb@v1
        with:
          run: gradle test jacocoTestReport
      -
        name: "Upload test results"
        uses: actions/upload-artifact@v6
        with:
          name: "test-results (${{ matrix.ghidra }})"
          path: "build/test-results/test/*.xml"
          if-no-files-found: "error"
        if: ${{ !cancelled() }}
      -
        name: "Upload reports"
        uses: actions/upload-artifact@v6
        with:
          name: "reports (${{ matrix.ghidra }})"
          path: "build/reports/*"
          if-no-files-found: "error"
        if: ${{ !cancelled() }}

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - "build"
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
    steps:
      -
        name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      -
        name: "Setup JDK"
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          java-package: "jre"
      -
        name: "Download artifacts"
        uses: actions/download-artifact@v6
        with:
          pattern: "extension (*)"
          path: "dist/"
          merge-multiple: true
      -
        name: "Generate release notes"
        uses: orhun/git-cliff-action@v4.4.2
        with:
          config: cliff.toml
          args: --verbose --latest --no-exec
        env:
          OUTPUT: "release-notes.md"
      -
        name: "GitHub release"
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "dist/*"
          draft: true
          bodyFile: "release-notes.md"
