name: "Spotless"

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      -
        name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      -
        name: "Setup JDK"
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      -
        name: "Setup Ghidra"
        uses: antoniovazquezblanco/setup-ghidra@v2.0.5
        with:
          version: "11.2"
          auth_token: ${{ secrets.GITHUB_TOKEN }}
      -
        name: "Run spotless"
        run: gradle spotlessCheck
